import <%= plural_name.camelize %>Form from '../<%= plural_name %>_form.js';

const <%= plural_name.camelize %>NewPage = () => {

  return (
    <div>
      <<%= plural_name.camelize %>Form />
    </div>
  );
};